<h1>Hipstafy!</h1>

<h4>Write a sentence or two, and we'll hipstafy it for you!</h4>

<form action="/" method="post">
  <input type="text area" name="input" autofocus>
  <input type="submit" name="submitButton">
</form>

<p>
  {{output}}
</p>
